* {
    background-color: black;
    color: white;
}

body {
    margin: 0;
    width: 100%;
}

/* * {
    background-color: white;
    color: black;
} */



/* nav bar */

.navBar {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    flex-direction: row;
    margin-top: 50px;
    margin-bottom: 50px;
}

.navList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    list-style: none;
}

.listItems {
    padding: 0 1.5rem;
}

.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 25px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #eacb8d;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #051724;
}

input:focus+.slider {
    box-shadow: 0 0 1px #051724;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(20px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.navButton {
    background-color: #935af3;
    width: 130px;
    height: 40px;
    border-radius: 5px;
    margin-left: 20px;
}

@media screen and (max-width: 924px) {

    .navButton {
        background-color: #935af3;
        width: 100px;
        height: 30px;
        border-radius: 5px;
        margin-left: 10px;
    }

}

@media screen and (max-width: 804px) {

    .navList {
        position: absolute;
        top: 90px;
        left: 50%;
        transform: translateX(-50%);
        padding: 0;
    }

    .listItems {
        width: 100%;
        white-space: nowrap;
    }

}

@media screen and (max-width: 600px) {

    .navList {
        position: absolute;
        top: 90px;
        left: 50%;
        transform: translateX(-50%);
        padding: 0;
        width: 100%;
    }

    .listItems {
        width: 20%;
        white-space: nowrap;
        padding: 8px;
    }

}

@media screen and (max-width: 460px) {

    .listItems {
        width: 20%;
        white-space: nowrap;
        padding: 8px;
        font-size: 12px;
    }

}

/* header */

.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.HeaderTitle {
    font-family: 'Anton', sans-serif;
    font-size: 200px;
    margin-top: 50px;
    margin-bottom: 0px;
    line-height: 12rem;

}

.subTitle {
    font-family: 'Anton', sans-serif;
    font-size: 113px;
    margin-top: 50px;
    background: linear-gradient(0.25turn, #FA709A, #FEE140) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
    /* transform: translateY(-50px); */
}

.headerList {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    width: 80%;
}

.buttonDownload {
    background-color: #fbfbfb42;
    width: 130px;
    height: 40px;
    border-radius: 5px;
    margin-left: 20px;
    width: 80%;
    margin: 0px;
    margin-top: 20px;
}

@media screen and (max-width: 1710px) and (min-width: 1380px) {

    .HeaderTitle {
        font-size: 150px;
        line-height: 9rem;
    }

    .logoTitleHeader {
        height: 120px;
    }

    .subTitle {
        font-size: 80px;
    }

    .imgHeader {
        width: 45%;
    }

}

@media screen and (max-width: 1380px) and (min-width: 1122px) {

    .HeaderTitle {
        font-size: 110px;
        line-height: 7rem;
    }

    .logoTitleHeader {
        height: 90px;
    }

    .subTitle {
        font-size: 70px;
    }

    .imgHeader {
        width: 43%;
    }

}

@media screen and (max-width: 1122px) {

    .logoTitleHeader {
        display: none;
        margin: 0;
    }

    .imgHeader {
        display: none;
    }

}

@media screen and (max-width: 1122px) and (min-width: 874px) {

    .headerList {
        width: 80%;
        max-width: 690px;
        min-width: 690px;
    }

    .buttonDownload {
        max-width: 690px;
        min-width: 690px;
    }

}

@media screen and (max-width: 836px) and (min-width: 628px) {

    .HeaderTitle {
        font-size: 150px;
        line-height: 9rem;
    }

    .subTitle {
        font-size: 57px;
    }

    .headerList {
        width: 80%;
        max-width: 515px;
        min-width: 515px;
    }

    .buttonDownload {
        max-width: 515px;
        min-width: 515px;
    }

}

@media screen and (max-width: 628px) {

    .HeaderTitle {
        font-size: 100px;
        line-height: 6rem;
    }

    .subTitle {
        font-size: 57px;
    }

    .headerList {
        width: 80%;
        max-width: 345px;
        min-width: 345px;
    }

    .buttonDownload {
        max-width: 345px;
        min-width: 345px;
    }

}

@media screen and (max-width: 432px) {

    .HeaderTitle {
        font-size: 60px;
        line-height: 4rem;
        text-align: center;
    }

    .subTitle {
        font-size: 40px;
        margin-right: 0;
    }

    .headerList {
        width: 100%;
        max-width: 300px;
        min-width: 0px;
    }

    .buttonDownload {
        width: 100%;
        max-width: 300px;
        min-width: 0px;
    }

    .listItemHeader {
        width: 30px;
    }

}

/*section 1*/

.container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: row;
    margin-top: 200px;
    margin-bottom: 200px;
    width: 75%;
    margin-left: 50%;
    transform: translateX(-50%);
    font-family: 'Anton', sans-serif;
    background-color: #fbfbfb1a;
    border: 2px solid #fbfbfb8e;
    border-radius: 30px;
}

.item {
    width: 20%;
    background-color: #925af300;
    padding: 60px;
}

.itemTitle {
    font-size: 130px;
    margin: 0px;
    color: #c8fec7;
    background-color: #925af300;
}

.itemSubTitle {
    font-size: 40px;
    margin: 0px;
    color: #c8fec7;
    background-color: #925af300;
}

.itemImg {
    background-color: #925af300;
}

@media screen and (max-width: 2228px) and (min-width: 1710px) {

    .itemTitle {
        font-size: 100px;
    }

    .itemSubTitle {
        font-size: 30px;
    }

}

@media screen and (max-width: 1710px) and (min-width: 1400px) {

    .itemTitle {
        font-size: 80px;
    }

    .itemSubTitle {
        font-size: 25px;
    }

}

@media screen and (max-width: 1400px) and (min-width: 1274px) {

    .itemTitle {
        font-size: 70px;
    }

    .itemSubTitle {
        font-size: 20px;
    }

}

@media screen and (max-width: 1274px) and (min-width: 1024px) {

    .itemTitle {
        font-size: 60px;
    }

    .itemSubTitle {
        font-size: 17px;
    }

}

@media screen and (max-width: 1226px) {

    .container {
        flex-direction: column;
        width: 90%;
        flex-direction: row;
    }

    .itemImg {
        width: 50px;
    }

    .item {
        width: 15%;
    }

}

@media screen and (max-width: 1024px) and (min-width: 838px) {

    .itemTitle {
        font-size: 50px;
    }

    .itemSubTitle {
        font-size: 15px;
    }

}

@media screen and (max-width: 838px) {

    .container {
        width: 515px;
        flex-direction: column;
        align-items: center;
    }

    .itemTitle {
        font-size: 80px;
    }

    .itemSubTitle {
        font-size: 25px;
    }

    .item {
        width: 70%;
        text-align: center;
    }

}

@media screen and (max-width: 838px) {

    .sectionTitle {
        font-size: 60px !important;
        text-align: center;
        margin: 0;
        transform: translateX(0px) !important;
    }

}

@media screen and (max-width: 630px) {

    .container {
        width: 80%;
    }

}

@media screen and (max-width: 592px) {

    .itemTitle {
        font-size: 60px;
    }

    .itemSubTitle {
        font-size: 20px;
    }

}

/*section 2*/

.section2 {
    margin: 100px 280px;
}

.sectionTitle {
    font-family: 'Anton', sans-serif;
    font-size: 100px;
    transform: translateX(30px);
    margin-bottom: 0px;
}

.cardContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between
}

.card {
    width: 360px;
    background-color: #fbfbfb1a;
    border: 2px solid #fbfbfb8e;
    border-radius: 15px;
    font-family: 'Roboto', sans-serif;
    margin: 30px;
}

.cardImg {
    margin-top: 25px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.cardTitle {
    font-size: 25px;
    margin-left: 30px;
    background-color: #925af300;
}

.tagsList {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    padding-left: 0;
    background-color: #925af300;
    margin-left: 20px;
}

.tag {
    background-color: #e9dffc;
    border-radius: 10px;
    padding: 3px 10px;
    margin-left: 10px;
    color: #784dc7;
    border: 1px solid #bd9ff6bf;
    font-size: 12px;
}

.cardButton {
    background-color: #fbfbfb42;
    width: 130px;
    height: 40px;
    border-radius: 5px;
    margin-left: 20px;
    width: 85%;
    margin: 0px;
    margin-top: 5px;
    margin-bottom: 15px;
    margin-left: 50%;
    transform: translateX(-50%);
}

@media screen and (max-width: 2269px) and (min-width: 1595px) {

    .section2 {
        margin: 100px 11%;
    }

    .cardContainer {
        justify-content: space-between;
        margin: 50px 2%;
    }

    .card {
        width: 27%;
        margin: 0;
        margin-bottom: 100px;
    }

    .cardImg {
        width: 86%;
    }

}

@media screen and (max-width: 1595px) and (min-width: 1274px) {

    .section2 {
        margin: 100px 11%;
    }

    .cardContainer {
        justify-content: space-between;
        margin: 25px 2%;
    }

    .card {
        width: 30%;
        margin: 0;
        margin-bottom: 50px;
    }

    .cardImg {
        width: 86%;
    }

}

@media screen and (max-width: 1274px) and (min-width: 1024px) {

    .section2 {
        margin: 100px 11%;
    }

    .cardContainer {
        justify-content: space-between;
        margin: 25px 2%;
    }

    .card {
        width: 30%;
        margin: 0;
        margin-bottom: 50px;
    }

    .cardTitle {
        text-align: center;
        margin-left: 0;
    }

    .tagsList {
        justify-content: space-evenly;
        margin-left: 0;
        margin-right: 13px;
    }

    .cardImg {
        width: 86%;
    }

}

@media screen and (max-width: 1024px) and (min-width: 738px) {

    .section2 {
        margin: 100px 11%;
    }

    .cardContainer {
        justify-content: space-between;
        margin: 25px 2%;
    }

    .card {
        width: 45%;
        margin: 0;
        margin-bottom: 50px;
    }

    .cardImg {
        width: 86%;
    }

}

@media screen and (max-width: 738px) and (min-width: 375px) {

    .section2 {
        margin: 100px 11%;
    }

    .cardContainer {
        justify-content: space-between;
        margin: 25px 2%;
    }

    .card {
        width: 90%;
        margin: 0;
        margin-bottom: 50px;
    }



}

@media screen and (max-width: 738px) {

    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .cardButton {
        width: 90%;
        transform: translateX(0%);
        margin-left: 0;
    }

    .cardImg {
        width: 90%;
        transform: translateX(0%);
        margin-left: 0;
    }

    .cardTitle {
        margin-left: 0;
    }

    .tagsList {
        margin-left: 0;
    }
}

@media screen and (max-width: 375px) {

    .section2 {
        margin: 100px 11%;
    }

    .cardContainer {
        justify-content: space-between;
        margin: 25px 2%;
    }

    .card {
        width: 100%;
        margin: 0;
        margin-bottom: 50px;
    }

    .tag {
        font-size: 10px;
        padding: 3px 7px;
    }

}

/*section 3*/

.containerSkillsAll {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between
}

.containerSkills {
    display: flex;
    flex-direction: row;
    width: 40%;
    margin-left: 35px;
    margin-top: 10px;
}

.SkillsLogo {
    font-family: 'Anton', sans-serif;
    font-size: 150px;
    margin-top: 50px;
    background: linear-gradient(0.25turn, #FA709A, #FEE140) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
    margin-right: 50px;
}

.SkillContainer {
    margin-top: 100px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start
}

.SkillName {
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 30px;
}

@media screen and (max-width: 1758px) and (min-width: 1522px) {

    .containerSkills {
        width: 47%;
    }

}

@media screen and (max-width: 1522px) and (min-width: 1274px) {

    .containerSkills {
        width: 46%;
    }

    .SkillsLogo {
        font-size: 170px;
    }

}

@media screen and (max-width: 1274px) and (min-width: 986px) {

    .containerSkills {
        width: 100%;
    }

    .SkillsLogo {
        font-size: 140px;
    }

    .SkillName {
        font-size: 35px;
    }

    .containerSkills p {
        font-size: 18px;
    }
}

@media screen and (max-width: 986px) and (min-width: 738px) {

    .containerSkills {
        width: 100%;
    }

    .SkillsLogo {
        font-size: 140px;
    }

    .SkillName {
        font-size: 28px;
    }

    .containerSkills p {
        font-size: 15px;
    }
}

@media screen and (max-width: 738px) {

    .containerSkills {
        width: 100%;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    .SkillContainer {
        margin-top: 0px;
        text-align: center;
    }

    .SkillsLogo {
        font-size: 140px;
        margin-right: 0px;
    }

    .SkillName {
        font-size: 30px;
    }

    .containerSkills p {
        font-size: 20px;
    }
}

/*section 4*/

.section4 {
    margin: 150px 0px;
    padding: 100px 350px;
    background: linear-gradient(0.25turn, #FA709A, #FEE140);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.section4Title {
    font-family: 'Anton', sans-serif;
    font-size: 100px;
    background-color: #925af300;
    color: #fbfbfb;
    width: 100%;
}

.sction4Par {
    background-color: #925af300;
    font-family: 'Roboto', sans-serif;
    font-size: 70px;
}

.section4img {
    background-color: #925af300;
}

@media screen and (max-width: 1970px) and (min-width: 1522px) {

    .section4 {
        padding: 100px 300px;
    }

    .section4Title {
        font-size: 80px;
    }

    .sction4Par {
        font-size: 50px;
    }

}

@media screen and (max-width: 1522px) and (min-width: 974px) {

    .section4 {
        padding: 100px 250px;
    }

    .section4Title {
        font-size: 60px;
        text-align: center;
    }

    .sction4Par {
        font-size: 30px;
        text-align: center;
    }

}

@media screen and (max-width: 974px) and (min-width: 538px) {

    .section4 {
        padding: 100px 100px;
    }

    .section4Title {
        font-size: 50px;
        text-align: center;
    }

    .sction4Par {
        font-size: 25px;
        text-align: center;
        margin-bottom: 70px;
    }

}

@media screen and (max-width: 538px) {

    .section4 {
        padding: 100px 50px;
    }

    .section4Title {
        font-size: 40px;
        text-align: center;
    }

    .sction4Par {
        font-size: 20px;
        text-align: center;
        margin-bottom: 70px;
    }

}

/*section 5*/

.sectionCard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

.sectionPar {
    width: 47%;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    margin: 0px;
}

.sectionImg {
    width: 50%;
    border-radius: 40px;
}

.fontColor1 {
    background: linear-gradient(0.25turn, #FA709A, #FEE140) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
}

.fontColor2 {
    background: linear-gradient(0.25turn, #935af3, #c8fec7) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 1930px) and (min-width: 1400px) {

    .sectionPar {
        font-size: 30px;
    }

}

@media screen and (max-width: 1400px) and (min-width: 1150px) {

    .sectionPar {
        font-size: 25px;
    }

}

@media screen and (max-width: 1150px) and (min-width: 700px) {

    .sectionCard {
        flex-direction: column-reverse;
    }

    #sectionCard {
        flex-direction: column;
        margin-top: 130px;
    }

    .sectionPar {
        font-size: 30px;
        margin-top: 35px;
        width: 100%;

    }

    .sectionImg {
        width: 100%;
    }

}

@media screen and (max-width: 700px) and (min-width: 500px) {

    .sectionCard {
        flex-direction: column-reverse;
    }

    #sectionCard {
        flex-direction: column;
        margin-top: 130px;
    }

    .sectionPar {
        font-size: 25px;
        margin-top: 35px;
        width: 100%;

    }

    .sectionImg {
        width: 100%;
    }

}

@media screen and (max-width: 500px) {

    .sectionCard {
        flex-direction: column-reverse;
    }

    #sectionCard {
        flex-direction: column;
        margin-top: 130px;
    }

    .sectionPar {
        font-size: 20px;
        margin-top: 35px;
        width: 100%;

    }

    .sectionImg {
        width: 100%;
    }

    .sectionTitle img {
        display: none;
    }

}

/*footer*/

.footerFirstItem {
    width: 80%;
    height: 180px;
    background-color: #784dc7;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    margin: 0 auto;
    transform: translateY(70px);
    font-family: 'Roboto', sans-serif;
    margin-top: 200px;
}

.footerImg {
    background-color: #925af300;
    width: 281px;
    height: 397px;
    transform: translateY(-54.5%);
}

.imgFooter {
    background-color: #925af300;
}

.containerTextFooter {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #925af300;
}

.titleFooter {
    background-color: #925af300;
    margin: 0;
    margin-top: 50px;
}

.ParaFooter {
    background-color: #925af300;
}

.footerTowItem {
    background-color: #292929;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 200px;
    font-family: 'Roboto', sans-serif;
}

.footerLogo {
    background-color: #925af300;
    margin-left: 50px;
    width: 164px;
    height: 60px;
    transform: translateY(30px);
}

.listFooter {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    background-color: #925af300;
    width: 20%;
    justify-content: space-around;
    margin-right: 40px;
    transform: translateY(30px);
}

.footerItem {
    background-color: #925af300;
}

@media screen and (max-width: 1467px) and (min-width: 1050px) {

    .listFooter {
        width: 30%;
    }

}

@media screen and (max-width: 1050px) and (min-width: 560px) {

    .listFooter {
        width: 45%;
    }

    .containerTextFooter {
        width: 70%;
        margin: 0 auto;
    }

    .footerImg {
        display: none;
    }

    .imgFooter {
        width: 100px;
        height: 85px;
    }

}

@media screen and (max-width: 560px) and (min-width: 430px) {

    .footerFirstItem {
        width: 90%;
    }

    .titleFooter {
        font-size: 20px;
    }

    .ParaFooter {
        font-size: 15px;
    }

    .containerTextFooter {
        width: 70%;
        margin: 0 auto;
    }

    .footerImg {
        display: none;
    }

    .imgFooter {
        width: 100px;
        height: 85px;
    }

}

@media screen and (max-width: 560px) {

    .footerTowItem {
        flex-direction: column-reverse;
        justify-content: center
    }

    .listFooter {
        width: 90%;
        padding: 0;
        margin: 0;
    }

    .footerLogo {
        width: 100px;
        height: 40px;
        margin: 0;
    }

}

@media screen and (max-width: 430px) {

    .footerFirstItem {
        width: 100%;
        border-radius: 0%;
        height: 180px;
    }

    .titleFooter {
        font-size: 20px;
        margin-top: 20px;
    }

    .ParaFooter {
        font-size: 15px;
    }

    .containerTextFooter {
        width: 70%;
        margin: 0 auto;
    }

    .footerImg {
        display: none;
    }

    .imgFooter {
        display: none;
    }

}